.table-wrapper{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    position: relative;

    align-items: center;
    justify-content: center;

    .schedule-title{
        width: 100%;
        height: auto;
        color: $titleColor;
        text-align: center;
        font-size: .8em;
    }

    table{
        border-collapse: collapse;
        border: 1px solid #000;
        background-color: $tableBackgroundColor;

        tr{
            background-color: $rowBackgroundColor;
            border: 1px solid #000;
            td{
                border: 1px solid #000;
                min-width: 100px;
                height: 40px;
                font-size: 16px;
                color: $cellTextColor;
                position: relative;

                .flexbox-wrapper{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;

                    .flexbox-center{
                        display: flex;
                        flex-flow: column;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: .9em;
                    }
                    .flexbox-bottom{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        flex-flow: row;
                        height: auto;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        font-size: .6em;

                        .wrapper{
                            width:100%;
                            height: auto;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
    
                    .flexbox-top{
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        flex-flow: row;
                        height: auto;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: .6em;
                    }
                }
            }
            .huge-cell{
                height: 80px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .table-wrapper{
        table{
            tr{
                td{
                    min-width: 80px;
                    font-size: 14px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .table-wrapper{
        table{
            tr{
                td{
                    height: 25px;
                    min-width: 60px;
                    font-size: 10px;
                }
                .huge-cell{
                    height: 50px;
                }
                .column1{
                    width: 40px;
                }
            }
        }
    }
}