@import './colors.scss';
@import './loading/loading.scss';
@import './header/header.scss';
@import './selector/selector.scss';
@import './table/table.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: $backgroundColor;
    background-attachment: fixed;
    font-size: 20px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
}

.container{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}