@keyframes boxAnim{
    0%{
        background-color: rgba(0,0,0,.9);
        transform: scale(1);
    }
    100%{
        transform: scale(2, 6);
        background-color: rgba(0,0,0,.9);
    }
}

@keyframes showListItems{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opaticy: 1;
        transform: translateX(0);
    }
}

@keyframes showShadowBox{
    0%{
        opacity: 0;
        z-index: -1;
    }
    100%{
        opacity: 1;
        z-index: 100;
    }
}

@keyframes selectorContentTransition{
    0%{
        opacity: 0;
        transform: translateX(0);
    }
    100%{
        opacity: 1;
        transform: translateX(10px);
    }
}

.selector-shadow-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0,0,0,.7);

    transition: all .5s ease-in-out;
}


.selector-wrapper{
    display: flex;
    flex-flow: column;

    align-items: center;
    justify-content: center;
    margin: 20px 0;

    .select-label{
        color: darken($text-color, 10%);
        margin-bottom: 15px;
    }

    .cs-select{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;

        user-select: none;
        width: 200px;
        height: 50px;
        background-color: rgba(0,0,0,.95);
        border: none;
        border: 2px solid darken($text-color, 20%);
        text-align: center;
        font-size: 1.5em;
        color: darken($text-color, 20%);
        text-shadow: 2px 2px 5px #000;
        position: relative;
        transition: color .3s ease-in-out, transform .5s ease-in-out;

        &::before, &::after{
            content: '';
            position: absolute;
            height: 2px;
            width: 0;
            background-color: #FFA20A;
            transition: all .3s ease-in-out;
        }

        &::before{
            bottom: -2px;
            left: 0;
        }

        &::after{
            top: -2px;
            right: 0;
        }

        &:hover{
            cursor: pointer;
            color: #FFA20A;

            &::before, &::after{
                width: 100%;
            }

            .selector-title{
                .selector-title_content{
                    transform: translateX(5px);
                }
                &::before, &::after{
                    height: calc(100% + 4px);
                }
                i{
                    animation: selectorContentTransition .3s ease-in-out both;
                }
            }
        }

        .selector-title{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before, &::after{
                content: '';
                position: absolute;
                height: 0;
                width: 2px;
                background-color: #FFA20A;
                transition: all .3s ease-in-out;
            }

            &::before{
                top:-2px;
                left: -2px;
            }

            &::after{
                bottom: -2px;
                right: -2px;
            }

            i{
                opacity: 0;
                font-size: .8em;
                margin-top: 5px;
                transition: opacity .3s ease-in-out;
            }

            .selector-title_content{
                transition: transform .3s ease-in-out;
                transform: translateX(10px);
            }
        }

        .selector-list{
            display: none;
            height: 300px;
            max-height: 300px;
            min-width: 400px;
            overflow: hidden;
        }
    }

    .cs-active{
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
            background-color: rgba(0,0,0,.9);
            border-radius: 3px;
            box-shadow: 0 0 5px #000;

            z-index: 150;
            animation: boxAnim .5s ease-in-out forwards;
        }

        .selector-list{
            display: flex;
            flex-flow: column;
            list-style-type: none;
            width: 400px;
            height: 300px;
            color: #fff;
            align-items: flex-start;
            justify-content: flex-start;
            overflow: hidden;
            padding: 20px 0;
            position: relative;
            z-index: 200;

            .hidden-scroll{
                width: 100%;
                overflow: auto;
                overflow-x: hidden;
                margin:15px -10px 15px 15px;
                padding-right:10px;

                
                li{
                    animation: showListItems .5s ease-in-out both;
                    color: rgb(218, 147, 17);
                    transition: all .3s ease-in-out;
                    font-size: .8em;

                    &:hover{
                        color: lighten(rgb(218, 147, 17), 20%);
                        background-color: rgba(255,255,255,.05);
                    }
                }
    
                @for $i from 1 through 20 {
                    li:nth-child(#{$i}){
                        animation-delay: .5s+($i*0.05);
                    }
                }
            }
        }
    }
}