@keyframes hideAnim{
    0%{
        opacity: 1;
        z-index: 300;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}

@keyframes circleAnim{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.preloading{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    text-transform: uppercase;

    width: 100vw;
    height: 100vh;
    z-index: 300;
    background-color: #04A9B3;
    color: #fff;
    font-size: 20px;
    font-weight: 700;

    position: fixed;
    top: 0;
    left: 0;

    font-family: 'Special Elite', cursive;

    .title{
        font-size: 3em;
    }

    .subtitle{
        font-size: 1.5em;
    }

    .anim-wrapper{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        width: 100%;

        .circle{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff;
            margin: 40px 10px;
        }

        @for $i from 1 through 3 {
            .circle:nth-child(#{$i}){
                animation: circleAnim 1s 0.1s*$i infinite ease-in-out both;
            }
        }
    }
}
